<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link href="~/Angular/Styles/estilos.css" rel="stylesheet" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/controllers")
	<script>
		(function () {
			var app = angular.module("app");
			// sets routes configuration
			app.config(["$stateProvider", "$urlRouterProvider", "$locationProvider",
				function ($stateProvider, $urlRouterProvider, $locationProvider) {
					$locationProvider.hashPrefix('');
					$urlRouterProvider.otherwise('/Home');

					$stateProvider
							// HOME STATES AND NESTED VIEWS ========================================
							.state("Home", { url: '/Home', templateUrl: '/Angular/Views/Home.html' })
							.state("Api", { url: '/Api', templateUrl: '/Angular/Views/Api.html' })
							.state("Api.Divisions", { url: '/Divisions', templateUrl: '/Angular/Views/Divisions.html', controller: "DivisionsController" })
							.state("Api.Division", { url: '/Divisions/:id?', templateUrl: '/Angular/Views/Division.html', controller: "DivisionController" })
							.state("Api.SubDivisions", { url: '/SubDivisions', templateUrl: '/Angular/Views/SubDivisions.html', controller: "SubDivisionsController" })
							.state("Api.SubDivision", { url: '/SubDivisions/:id?', templateUrl: '/Angular/Views/SubDivision.html', controller: "SubDivisionController" })
							.state("Api.Categories", { url: '/Categories', templateUrl: '/Angular/Views/Categories.html', controller: "CategoriesController" })
							.state("Api.Category", { url: '/Categories/:id?', templateUrl: '/Angular/Views/Category.html', controller: "CategoryController" })
							.state("Api.Dates", { url: '/Dates', templateUrl: '/Angular/Views/Dates.html', controller: "DatesController" })
							.state("Api.Date", { url: '/Dates/:id?', templateUrl: '/Angular/Views/Date.html', controller: "DateController" })
							.state("Api.Matches", { url: '/Matches', templateUrl: '/Angular/Views/Matches.html', controller: "MatchesController" })
							.state("Api.Match", { url: '/Matches/:id?', templateUrl: '/Angular/Views/Match.html', controller: "MatchController" })
							.state("Api.Goals", { url: '/Goals', templateUrl: '/Angular/Views/Goals.html', controller: "GoalsController" })
							.state("Api.Goal", { url: '/Goals/:id?', templateUrl: '/Angular/Views/Goal.html', controller: "GoalController" })
							.state("Api.Players", { url: '/Players', templateUrl: '/Angular/Views/Players.html', controller: "PlayersController" })
							.state("Api.Player", { url: '/Players/:id?', templateUrl: '/Angular/Views/Player.html', controller: "PlayerController" })
							.state("Api.Teams", { url: '/Teams', templateUrl: '/Angular/Views/Teams.html', controller: "TeamsController" })
							.state("Api.Team", { url: '/Teams/:id?', templateUrl: '/Angular/Views/Team.html', controller: "TeamController" });
					}]);
		})();
	</script>
</head>
<body ng-app="app" id="app">
	<div class="nav-bar">
		<ul id="menu">
			<li><a ui-sref="Home">Home</a></li>
			<li><a ui-sref="Api">API</a></li>
		</ul>
	</div>
	<div ui-view></div>
</body>
</html>
